{% extends "auctions/template.html" %}
{% import "shared/macros.html" as macros %}

{% set subpage = False %}
{% set title = "Auctions" %}

{% block main %}

<!-- Form -->
<form action="/auctions" method="POST">
  <div class="row uniform">

    <div class="8u 12u$(small)">
      <div class="select-wrapper">
        <select id="car_make" name="car_make" required>
          <option value="" {% if car_make ==''%} selected {% endif %} >- Select Car Make from list-</option>
          {% for make in make_list %}
          <option value={{make}}>{{make}}</option>
          {% endfor %}
        </select>
        <select id="car_model" name="car_model" required>
          <option value="" {% if car_model ==''%} selected {% endif %} >- Select Car Model from list-</option>
          {% for model in model_list %}
          <option value={{model}}>{{model}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="4u$ 12u$(small)">
      <input type="submit" id="get_history" name="get_history" value="Get" class="button special" />
    </div>

  </div>
</form>

<!-- Auction list -->
{% if auction_list != None and auction_list|length != 0 %}
  <table style="table-layout:fixed; width:100%;">
    {% if 'user' in session %}
    <tbody>
      {% for auction in auction_list %}
        <tr>
          <td style="width:80%;">{{ macros.auction_info(auction['year'], auction['model'], auction['make'], auction['mileage'], auction['closing_date'], auction['url'], image_list[auction['lot_id']]) }}</td>
          <td style="width:20%; text-align:left; vertical-align:middle">
            <div class="row uniform">
              <div class="12u$">
                {% if auction['lot_id'] in tracked_lots %}
                <input type="button" id="track_{{auction['lot_id']}}" name="track_{{auction['lot_id']}}" value="Un-Track" class="button" onclick="javascript:postAuction('track', '{{auction['lot_id']}}');" >
                {% else %}
                <input type="button" id="track_{{auction['lot_id']}}" name="track_{{auction['lot_id']}}" value="Track" class="button" onclick="javascript:postAuction('track', '{{auction['lot_id']}}');" >
                {% endif %}
              </div>
              <div class="12u$">
                {% if auction['lot_id'] in saved_lots %}
                <input type="button" id="save_{{auction['lot_id']}}" name="save_{{auction['lot_id']}}" value="Un-Save" class="button" onclick="javascript:postAuction('save', '{{auction['lot_id']}}');" >
                {% else %}
                <input type="button" id="save_{{auction['lot_id']}}" name="save_{{auction['lot_id']}}" value="Save" class="button" onclick="javascript:postAuction('save', '{{auction['lot_id']}}');" >
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {% else %}
    <tbody>
      {% for auction in auction_list %}
        <tr>
          <td style="width:80%;">{{ macros.auction_info(auction['year'], auction['model'], auction['make'], auction['mileage'], auction['closing_date'], auction['url'], image_list[auction['lot_id']]) }}</td>
        </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
{% else %}
  <p style="text-align:center"><strong>No auction listings were found</strong></p>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">
  // Find an element of given name in the form
  function findTargetNode(targetForm, name) {
    var targetElems = targetForm.elements;
    for (var i = 0; i < targetElems.length; i++) {
      var elem = targetElems.item(i);
      if (elem.name === name) {
        return elem;
      }
    }
  }

  // Send HTTP request for this auction
  function postAuction(action, auctionId) {
    $.ajax({
      type: "POST",
      url:  "/process-auction",
      data: {
        'id': auctionId,
        'action': action
      },
      success: function (data) {
        // Post alert message, if any
        if (data.hasOwnProperty('errmsg')) {
          alert(data['errmsg']);
        } else {
          // Update button text
          var button = document.getElementById(action + "_" + auctionId);
          if (button.value.startsWith("Un-")) {
            button.value = button.value.replace("Un-", "");
          } else {
            button.value = "Un-" + button.value;
          }
        }
      }
    });
  }
</script>
{% endblock %}

