<!-- Header -->
<header id="header">
  <div class="inner">
    {% if 'user' in session %}
    <p class="logo">Hi <strong>{{ session['user']['username'] }}</strong></p>
    {% endif %}
    <nav id="nav">
      <a href="/home">Home</a>
      <a href="/history">History</a>
      <a href="/change-password">Change Password</a>
      {% if 'user' in session and session['user']['username'] == 'admin'%}
      <a href="/add-user">Add user</a>
      <a href="/remove-user">Remove user</a>
      {% endif %}
      <a href="/sign-out">Sign out</a>
    </nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header>
