{% extends "login/template.html" %}

{% set title = "Forgot Password" %}

{% block main %}

<!-- Form -->
<form action="/password-reset-request" method="POST">
  <div class="row uniform">

    <div class="12u$">
      <p>A password reset confirmation will be sent to your email</p>
    </div>

    <div class="12u$">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="john.doe@gmail.com" />
    </div>

    <div class="6u 12u$(medium)">
      <input type="submit" id="reset" name="reset" value="Reset password" class="button special" />
    </div>

    <div class="6u$ 12u$(medium)">
      <input type="submit" id="return" name="return" value="Go Back" class="button" />
    </div>


  </div>
</form>

{% endblock %}
